{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container py-4">

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">Movimentações</h2>
    <div class="d-flex justify-content-between">
      <a href="{% url 'valor' %}" class="btn btn-primary">$ Definir Valor/Hora</a>
      <a href="{% url 'movimentacao_entrada' %}" class="btn btn-primary ms-3">+ Registrar Entrada</a>
    </div>
  </div>

  <form method="GET">
    <div class="d-flex justify-content-between mb-3">
        <input class="form-control" type="text" name="buscar" value="{{ request.GET.buscar }}" placeholder="Digite o status">
        <button type="submit" class="btn btn-primary ms-3">Buscar</button>
    </div>
  </form>

  <div class="table-responsive shadow-sm">
    <table class="table table-hover table-striped table-bordered align-middle">
      <thead class="table-light">
        <tr>
          <th>Veículo</th>
          <th>Vaga</th>
          <th>Funcionário</th>
          <th>Entrada</th>
          <th>Saída</th>
          <th>Tempo</th>
          <th>Valor</th>
          <th>Pago</th>
          <th>Status</th>
          <th class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for m in movimentacoes %}
        <tr>
          <td>{{ m.veiculo }}</td>
          <td>{{ m.vaga.numero }}</td>
          <td>{{ m.funcionario }}</td>
          <td>{{ m.entrada }}</td>
          <td>{{ m.saida|default:"-" }}</td>
          <td>{{ m.tempo_permanencia }}</td>
          <td>{{ m.valor|default:"-" }}</td>
          <td>{{ m.pagamento.valor }}</td>
          <td>{{ m.get_status_display }}</td>
          <td class="text-center">
            {% if m.status == 'ativa' %}
            <a href="{% url 'movimentacao_saida' m.pk %}" class="btn btn-sm btn-outline-success mb-1">Finalizar</a>
            {% endif %}
            <a href="{% url 'movimentacao_deletar' m.pk %}" class="btn btn-sm btn-outline-danger mb-1">Excluir</a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="8" class="text-center text-muted">Nenhuma movimentação registrada.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center">
    {% bootstrap_pagination object_list url="/movimentacoes?page=1" size="sm" %}
  </div>
</div>
{% endblock %}
