{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}

<div class="container py-4">

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">Clientes</h2>
      <div class="ml-1">
    <a href="{% url 'clientepf' %}" class="btn btn-primary">
      + Nova Pessoa Física
    </a>
    <a href="{% url 'clientepj' %}" class="btn btn-primary">
      + Nova Pessoa Jurídica
    </a>
          </div>
  </div>

  <form method="GET">
    <div class="d-flex justify-content-between mb-3">
        <input class="form-control" type="text" name="buscar" value="{{ request.GET.buscar }}" placeholder="Digite o nome do cliente">
        <button type="submit" class="btn btn-dark ms-2">Buscar</button>
    </div>
  </form>


  <div class="table-responsive shadow-sm">
    <table class="table table-hover table-striped table-bordered align-middle">
        <thead class="table-light">
          <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Data Cadastro</th>
            <th>Documento</th>
            <th class="text-center">Ações</th>
          </tr>
        </thead>
      <tbody id="tabelaClientes">
        {% for cliente in clientes %}
        <tr>
          <td><a href="{% url 'cliente_detalhe' cliente.pk %}">{{ cliente.nome }}</a></td>
          <td>{{ cliente.telefone }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.data_cadastro|date:"d/m/Y" }}</td>
          <td>{% if cliente.cpf %}{{ cliente.cpf }}{% elif cliente.cnpj %}{{ cliente.cnpj}}{% endif %}</td>
          <td class="text-center">
            {% if cliente.cpf %}
              <a href="{% url 'clientepf_atualizar' cliente.pk %}" class="btn btn-sm btn-outline-secondary">Editar</a>
            {% elif cliente.cnpj %}
              <a href="{% url 'clientepj_atualizar' cliente.pk %}" class="btn btn-sm btn-outline-secondary">Editar</a>
            {% endif %}
            <a href="{% url 'cliente_deletar' cliente.pk %}" class="btn btn-sm btn-outline-danger">Excluir</a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="7" class="text-center text-muted">Nenhum cliente cadastrado.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
<div class="d-flex justify-content-center">
  {% bootstrap_pagination object_list url="/clientes?=page=1" size="sm" %}
</div>

{% endblock %}


