<h2>{% if object %}Editar Funcionário{% else %}Cadastrar Funcionário{% endif %}</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-danger">
    <ul>
      {% for field in form %}
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
    </div>
    {% endif %}
    {{ form.as_p }}
    <button type="submit">Salvar</button>
    <a href="{% url 'funcionario_listar' %}">Cancelar</a>
</form>