<div class="modal-header">
    <h5 class="modal-title" id="pessoaModalLabel">Detalhes de {{ pessoa.nome }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Nome:</strong> {{ pessoa.nome }}</li>
        <li class="list-group-item"><strong>Telefone:</strong> {{ pessoa.telefone }}</li>
        <li class="list-group-item"><strong>Email:</strong> {{ pessoa.email }}</li>

    </ul>
</div>
<div class="modal-footer">
    <a href="#" class="btn btn-primary">Editar</a>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
</div>