<h3>Olá <strong>{{ cliente }}</strong>!</h3>

<p>TESTE.</p>

<h3>Dados do Atendimento</h3>
<p><strong>Cliente:</strong> {{ cliente }}</p>
<p><strong>Placa:</strong> {{ placa }}</p>
<p><strong>Modelo:</strong> {{ modelo }}</p>
<p><strong>Tempo:</strong> {{ tempo }}</p>

<p><strong>Funcionário responsável pelo agendamento:</strong> {{ funcionario }}</p>
<p><strong>Valor total:</strong> {{ valor }}</p>

<p><strong>Agradecemos pela preferência! Volte sempre!</strong></p>

<p style="color: darkcyan;"><strong>ESTACIONAMENTO</strong></p>